body {
    background: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

audio {
    display: none;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.hide {
    display: none;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: transparent;
    border: none;
    border-radius: 0;
    max-width: 100%;
    height: auto;
}
